body{
    min-height: 2000px;
}
.jumbotron {
    padding-top: 5rem;
    padding-bottom: 1rem ;
    background-color: #0084ff;
}

#Project{
    padding: 2rem 1rem;
    background-color: #0084ff;
}

section {
 padding-top: 5rem;
}
   